#main {
  margin-top: 110px;
  /* background-color: red; */
}

#title-section {
  width: 75%;
  height: 150px;
  border-radius: 10px;
  margin: 10px auto;
  background-color: #242424;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#title {
  font-size: 50px;
  font-weight: bolder;
}
#sub-title {
  margin-top: -30px;
  font-size: 20px;
  color: #828282;
}

#project-img {
  width: 55%;
  height: 400px;
  margin: 20px auto;
  background-color: #242424;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#project-main {
  width: 75%;
  height: 600px;
  margin: 0 auto;
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: space-between;
}

#project-summary {
  width: 100%;
  height: 18%;
  background-color: #242424;
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
}

#project-right {
  width: 62%;
  height: 100%;
  /* background-color: aliceblue; */
}

#project-info {
  width: 91%;
  height: max-content;
  padding: 10px 30px;
  background-color: #1e1e1e;
  border-radius: 10px;
  border: 2px solid #ffffff80;
  font-weight: bolder;
}
#info-title {
  color: white;
  margin-bottom: 30px;
}

#info {
  color: #ffffffcc;
  line-height: 30px;
}

.accordion {
  width: 35%;
  height: 100%;
}

.accordion-item {
  border-radius: 10px;
}

.accordion-header {
  width: 100%;
  height: 18%;
  background-color: #242424;
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.accordion-header i {
  transition: transform 0.3s;
}

.accordion-header.open i {
  transform: rotate(180deg);
}

.accordion-content {
  width: 100%;
  padding: 10px;
  display: none;
  background-color: #242424;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top:-10px;
}

.accordion-item.open .accordion-content {
  display: block;
}
