/* navbar */
#user {
  margin-left: auto;
  margin-right: 100px;
  width: 100px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  font-size: 20px;
  color: #FFFFFF80;
}

/* main */
#main {
  width: 100%;
  height: fit-content;
  margin-top:250px;
  margin-bottom: 300px;
}

#logo-name {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 20px;
  font-size: 90px;
  color:white;
}

.searching {
  width: 100%;
  display: flex;
  justify-content: center;
}

#searching-bar {
  width: 800px;
  height: 60px;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding-left: 10px;
  font-size: 25px;
  font-weight: bolder;
  position: relative;
}

#searching-icon {
  position: absolute;
  width: 25px;
  top: 405px;
  right: 380px;
  margin: 0;
}

/* footer */
#footer {
  width: 60%;
  height: 100px;
  margin: 0 auto;
  border-top: 1px solid #bbb;
}


/* seaching.html */
#searching-icon2 {
  position: absolute;
  width: 25px;
  left: 790px;
  top: 28px;
}

#searching-bar2 {
  width: 600px;
  height: 50px;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding-left: 10px;
  font-size: 22px;
  font-weight: bolder;
  position: relative;
  margin-left: 10px;
}

.news{
  width:72%;
  margin:85px auto 0;
}

#article_count{
  color: #FFFFFF80;
  text-align: right;

}

.article_list {
  width: 100%;
  height: 700px;
  /* background: #D2D2D2; */
  padding-top: 1px;
  margin:0 auto;
}

.article {
  width: 99%;
  height: 80px;
  border-radius: 10px;
  background-color: #242424;
  margin: 10px auto;

  display: flex;
  align-items: center;

  text-decoration: none;
  font-size:18px;
}

.ar_title{
  width:70%;
  padding:20px;
  font-weight: bolder;
  color:white;
  font-size:23px;
}

.ar_press{
  width:20%;
  padding:20px;
  color:white;
}

.ar_date{
  width:10%;
  padding:20px;
  color:gray;
}
#pagination {
  width: max-content;
  margin: 0 auto;
  margin-top: 380px;
}

/* article modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal-window {
  border-radius: 25px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  overflow: auto;
  width: 1200px;
  height: 650px;
}

.close-area {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bolder;
}

.content {
  padding: 10px;
}

.title {
  width: 100%;
  height: 50px;
  background-color: #D2D2D2;
  margin-bottom: 10px;
}

.article-middle {
  width: 100%;
  height: 35%;
  display: flex;
  margin-bottom: 10px;
}

.content-summary {
  width: 70%;
  height: 100%;
  background-color: #D2D2D2;
  margin-right: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-info {
  width: 34%;
  height: 100%;
  background-color: #D2D2D2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-body {
  width: 100%;
  height: 40%;
  background-color: #D2D2D2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.keyword-group {
  width: 100%;
  height: 9%;
  background-color: #D2D2D2;
  display: flex;
  justify-content: start;
  align-items: center;
}

.keyword {
  width: 10%;
  height: 45px;
  background-color: white;
  border-radius: 20px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* mypage.html */
#mypage-main {
  margin-top:100px;
  height:645px;
}

#mypage-title{
  width:100px;
  margin:10px auto;
  color:white;
}

#scrap-list{
  width: 800px;
  height:80%;
  margin:10px auto;
}

.scrap-article{
  width:100%;
  height:50px;
  margin:5px auto;
  border-radius: 10px;
  background-color: #d2d2d2;
}