<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB-TOGETHER</title>
    <link rel="stylesheet" href="../css/landing22.css">
</head>

<body>
    <!-- navbar -->
    <navbar>
        <div id="nav-header">
            <a href="Landing.html"><img src="../img/logo.jpg" alt="WEB-TOGETHER" id="logo-img"></a>
            <div id="navbar">
                <ul>
                    <li>
                        <a href="#team" class="nav-item">MEMBERS</a>
                    </li>
                    <li>
                        <a href="#project" class="nav-item">PROJECT</a>
                    </li>
                    <li>
                        <a href="main.html" class="nav-item2">SITE</a>
                    </li>
                </ul>
            </div>
        </div>
    </navbar>

    <div id="main">
        <!-- masthead -->
        <section id="masthead">
            <p>헤더화면</p>
        </section>

        <!-- 팀원소개 Section -->
        <section id="team">
            <div class="member" style="margin-bottom: -85px;">
                <img src="../img/김태연.jpg" alt="" class="member_img">
                <div class="member_info">
                    <p class="name">김태연<span class="birth">2001.03.19</span></p>
                    <p class="major">정보통신공학과 2020112107</p>
                    <a href="https://github.com/taeyeon0319" target="_blank" class="github">https://github.com/taeyeon0319</a>
                    <div class="member_keyword">
                        <p class="key">INFJ</p>
                        <p class="key">개발자</p>
                        <p class="key">보라색</p>
                    </div>
                </div>
            </div>
            <div class="member" style="margin-bottom: -85px;">
                <div class="member_info" id="second_member">
                    <p class="name">김태연<span class="birth">2001.03.19</span></p>
                    <p class="major">정보통신공학과 2020112107</p>
                    <a href="https://github.com/taeyeon0319" target="_blank" class="github">https://github.com/taeyeon0319</a>
                    <div class="member_keyword" id="member_keyword2">
                        <p class="key2">INFJ</p>
                        <p class="key2">개발자</p>
                        <p class="key2">보라색</p>
                    </div>
                </div>
                <div class="member_img"></div>
            </div>
            <div class="member">
                <div class="member_img"></div>
                <div class="member_info">
                    <p class="name">김태연<span class="birth">2001.03.19</span></p>
                    <p class="major">정보통신공학과 2020112107</p>
                    <a href="https://github.com/taeyeon0319" target="_blank" class="github">https://github.com/taeyeon0319</a>
                    <div class="member_keyword">
                        <p class="key">INFJ</p>
                        <p class="key">개발자</p>
                        <p class="key">보라색</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- 프로젝트 Section-->
        <section id="project">
            <p>프로젝트개요 및 설명</p>
            
        </section>
    </div>


    <!-- Footer -->
    <footer>
        <div id="footer">
            footer부분
        </div>
    </footer>
    <script src="../js/scripts.js"></script>
</body>

</html>