<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB-TOGETHER</title>
    <link rel="stylesheet" href="../css/landing.css">
</head>

<body>
    <!-- navbar -->
    <navbar>
        <div id="nav-header">
            <a href="Landing.html"><img src="../img/logo.jpg" alt="WEB-TOGETHER" id="logo-img"></a>
            <div id="navbar">
                <ul>
                    <li>
                        <a href="#team" class="nav-item">팀원</a>
                    </li>
                    <li>
                        <a href="#project" class="nav-item">프로젝트</a>
                    </li>
                    <li>
                        <a href="main.html" class="nav-item2">사이트</a>
                    </li>
                </ul>
            </div>
        </div>
    </navbar>

    <div id="main">
        <!-- masthead -->
        <section id="masthead">
            <p>헤더화면</p>
        </section>

        <!-- 팀원소개 Section -->
        <section id="team">
            <p>팀원소개</p>
        </section>

        <!-- 프로젝트 Section-->
        <section id="project">
            <p>프로젝트개요 및 설명</p>
        </section>
    </div>


    <!-- Footer -->
    <footer>
        <div id="footer">
            footer부분
        </div>
    </footer>
    <script src="../js/scripts2.js"></script>
</body>

</html>