<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB-TOGETHER</title>
    <link rel="stylesheet" href="../css/landing.css">
    <link rel="stylesheet" href="../css/project.css">
</head>

<body>
    <!-- header -->
    <header>
        <div id="nav-header">
            <a href="main.html"><img src="../img/logo.jpg" alt="WEB-TOGETHER" id="logo-img"></a>
            <a href="mypage.html" id="user">MYPAGE</a>
        </div>
    </header>

    <!-- Main -->
    <div id="main">
        <h1 id="logo-name">WEB-TOGETHER</h1>
        <form id="search-form" action="searching.html" method="GET">
            <div class="searching">
                <input name="q" type="text" placeholder="뉴스 키워드 검색" id="searching-bar">
                <a href="searching.html"><img
                        src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png" id="searching-icon"></a>
            </div>
        </form>
    </div>

    <!-- Footer -->
    <footer>
        <div id="footer">
            footer부분
        </div>
    </footer>

    <script src="../js/scripts3.js"></script>
</body>

</html>