<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB-TOGETHER</title>
    <link rel="stylesheet" href="../css/landing.css">
    <link rel="stylesheet" href="../css/landing2.css">
    <script src="https://kit.fontawesome.com/fc4ce5b8fd.js" crossorigin="anonymous"></script>

</head>

<body>
    <!-- navbar -->
    <navbar>
        <div id="nav-header">
            <a href="Landing.html"><img src="../img/logo.jpg" alt="WEB-TOGETHER" id="logo-img"></a>
            <div id="navbar">
                <ul>
                    <li>
                        <a href="landing.html#team" class="nav-item">MEMBERS</a>
                    </li>
                    <li>
                        <a href="project.html" class="nav-item2">PROJECT</a>
                    </li>
                    <li>
                        <a href="main.html" class="nav-item2">SITE</a>
                    </li>
                </ul>
            </div>
        </div>
    </navbar>

    <div id="main">
        <div id="title-section">
            <h1 id="title">WEB-TOGETHER</h1>
            <p id="sub-title">요약으로 간단하게 읽는 뉴스 서비스</p>
        </div>

        <div id="project-img">프로젝트 사진(캡쳐본이나 로고)</div>
        
        <div id="project-main">
            <div class="accordion">
                <div class="accordion-item">
                    <div class="accordion-header">
                        <h2>프로젝트 요약</h2>
                        <i class="fas fa-angle-right"></i>
                    </div>
                    <div class="accordion-content">
                        <p>프로젝트 요약 내용입니다.</p>
                    </div>
                </div>
                <br>
                <div class="accordion-item">
                    <div class="accordion-header">
                        <h2>프로젝트 역할</h2>
                        <i class="fas fa-angle-right"></i>
                    </div>
                    <div class="accordion-content">
                        <p>프로젝트 역할 내용입니다.</p>
                    </div>
                </div>
            </div>
            <div id="project-right">
                <div id="project-info">
                    <h2 id="info-title">프로젝트 설명</h2>
                    <p id="info">프로젝트 설명 ~ ~ 어쩌구 저쩌구 프로젝트 설명 ~ ~ 어쩌구 저쩌구<br>
                        프로젝트 설명 ~ ~ 어쩌구 저쩌구 프로젝트 설명 ~ ~ 어쩌구 저쩌구<br>
                        프로젝트 설명 ~ ~ 어쩌구 저쩌구 프로젝트 설명 ~ ~ 어쩌구 저쩌구<br>
                        프로젝트 설명 ~ ~ 어쩌구 저쩌구 프로젝트 설명 ~ ~ 어쩌구 저쩌구<br>
                        프로젝트 설명 ~ ~ 어쩌구 저쩌구 프로젝트 설명 ~ ~ 어쩌구 저쩌구<br></p>
                </div>
            </div>
            
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div id="footer">
            footer부분
        </div>
    </footer>

      
    <script src="../js/scripts2.js"></script>

</body>

</html>